@model IEnumerable<WebBanHangOnline.Models.ShoppingCartItem>
@using WebBanHangOnline.Models.Common

@if (Model != null && Model.Any())
{
    <h3>Giỏ hàng <span style="float: right;"><small style="font-size: 13px;">Loại sản phẩm: @Model.Count()</small></span></h3>
    var tongtien = decimal.Zero;
    <div style="border: solid 1px;">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                </tr>
            }
            <tr>
                <td>Tổng tiền</td>
                <td></td>
                <td>@Common.FormatNumber(tongtien, 0)</td>
            </tr>
        </table>
    </div>
}
